#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_hempcoin
#build/hempcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_hempcoin)

DEB_INSTALL_EXAMPLES_hempcoind += debian/examples/*
DEB_INSTALL_MANPAGES_hempcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix hempcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f hempcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake hempcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_hempcoin
	src/test_hempcoin

# Ensure wrapper is set executable
binary-post-install/hempcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/hempcoind
binary-post-install/hempcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/hempcoin-qt
